---
const block = "fixed bottom-5 right-5 py-2 px-4 rounded-md text-white font-medium";


---

<div class:list={`banner deleted bg-red-500 ${block}`} style="display: none;">
 Удалено из сохраненных 
</div>
<div class:list={`banner added bg-green-500 ${block}`} style="display: none;">
 Добавлено в сохраненные 
</div>
