---
import { setting } from "settings";
---

<footer class="mt-20 py-5 bg-slate-300 text-slate-800">
 <div class="container mx-auto px-5">
  <div class="flex flex-wrap items-center justify-between gap-5">
   <a href="https://t.me/all12_projects" class="">&rarr; Новости</a>
   <span>{setting.site.version}</span>
  </div>
 </div>
</footer>

<div class="py-2 bg-slate-900 grid place-content-center">
 <span class="text-white">В разработке...</span>
</div>
