---
---

<footer class="mt-20 py-5 bg-slate-900">
 <div class="container px-5 mx-auto flex justify-between gap-5">
  <a href="https://t.me/all_12steps" class="text-white">С <b>❤️</b> @all_12steps</a>
  <span class="text-white">2023</span>
 </div>
</footer>
